In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# q1: get pandas version
print(pd.__version__)

1.5.1

In [4]:
df = pd.read_csv("data/california_housing_prices.csv")

In [5]:
# q2: how many columns are in the dataset?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
# q3: no missing values in total_rooms
print(df[df['total_rooms'].isna()])

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, ocean_proximity]
Index: []

In [7]:
# q3: missing values in total_bedrooms
print(df[df['total_bedrooms'].isna()])

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
290      -122.16     37.77                47.0       1256.0             NaN
341      -122.17     37.75                38.0        992.0             NaN
538      -122.28     37.78                29.0       5154.0             NaN
563      -122.24     37.75                45.0        891.0             NaN
696      -122.10     37.69                41.0        746.0             NaN
...          ...       ...                 ...          ...             ...
20267    -119.19     34.20                18.0       3620.0             NaN
20268    -119.18     34.19                19.0       2393.0             NaN
20372    -118.88     34.17                15.0       4260.0             NaN
20460    -118.75     34.29                17.0       5512.0             NaN
20484    -118.72     34.28                17.0       3051.0             NaN

       population  households  median_income  median_house_value  \
290         570.0       218.0         4.3750            161900.0
341         732.0       259.0         1.6196             85100.0
538        3741.0      1273.0         2.5762            173400.0
563         384.0       146.0         4.9489            247100.0
696         387.0       161.0         3.9063            178400.0
...           ...         ...            ...                 ...
20267      3171.0       779.0         3.3409            220500.0
20268      1938.0       762.0         1.6953            167400.0
20372      1701.0       669.0         5.1033            410700.0
20460      2734.0       814.0         6.6073            258100.0
20484      1705.0       495.0         5.7376            218600.0

      ocean_proximity
290          NEAR BAY
341          NEAR BAY
538          NEAR BAY
563          NEAR BAY
696          NEAR BAY
...               ...
20267      NEAR OCEAN
20268      NEAR OCEAN
20372       <1H OCEAN
20460       <1H OCEAN
20484       <1H OCEAN

[207 rows x 10 columns]

In [8]:
# q4: get unique valus in ocean_proximity
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [9]:
# q5: get average value of median_house_value
df[df['ocean_proximity']=='NEAR BAY']['median_house_value'].mean()

259212.31179039303

In [10]:
# q6: total_bedrooms
avg_bedroom = df['total_bedrooms'].mean()

In [11]:
avg_bedroom

537.8705525375618

In [14]:
df['total_bedrooms'].fillna(avg_bedroom, inplace=True)

In [15]:
df['total_bedrooms'].mean()

537.8705525375617

In [30]:
# q7: linear regression
island_df = df[df['ocean_proximity']=='ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']]
X = np.array(island_df)
XTX = np.matmul(X.T, X)
y = np.array([950, 1300, 800, 1000, 1300])
xtx_inv = np.linalg.inv(XTX)
z = np.matmul(xtx_inv,X.T)
w = np.matmul(z,y)

In [31]:
w

array([23.12330961, -1.48124183,  5.69922946])